APP_BASE_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=moja_baza
DB_USER=postgres
DB_PASSWORD=superVarnoGeslo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=whiteorchidevents0@gmail.com
SMTP_PASS=
SMTP_FROM=White Orchid Events <whiteorchidevents0@gmail.com>
